.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  margin: 0 auto;
}
.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}
body {
  border-top: 8px solid #000000;
}
header {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  text-align: center;
  border-bottom: 8px solid #000000;
}
header h1,
header h2 {
  font-weight: 400;
}
header h1 {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3em;
}
header h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  margin-top: -30px;
}
header img {
  margin-top: 10px;
  margin-bottom: 25px;
}
header nav {
  position: absolute;
  top: 63%;
  left: 9%;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline;
  margin: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #000000;
}
header nav ul .four {
  margin-left: 220px;
}
body {
  font-family: ff-tisa-web-pro;
}
@font-face {
  font-family: 'entypo';
  src: url('/entypo/entypo.eot');
  src: url('/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'), url('/entypo/entypo.woff') format('woff'), url('/entypo/entypo.ttf') format('truetype'), url('/entypo/entypo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.icon {
  font-style: normal;
  font-family: entypo;
  font-size: 70px;
  -webkit-font-smoothing: antialiased;
}
.slider-wrap {
  width: 960px;
  height: 500px;
  margin: 0 auto;
}
.slider {
  overflow-x: scroll;
}
.holder {
  width: 300%;
}
.slide {
  float: left;
  width: 960px;
  height: 500px;
  position: relative;
}
.temp {
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 15px;
  left: 15px;
  font-family: ff-tisa-web-pro;
  font-weight: 400;
}
#slide-0 {
  background-image: url(../img/slider-img-1.png);
}
#slide-1 {
  background-image: url(../img/slider-img-2.png);
}
#slide-2 {
  background-image: url(../img/slider-img-3.png);
}
.slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, #000000);
}
.slider-nav {
  text-align: center;
  margin: 10px 0 0 0;
}
.slider-nav a {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #ddd;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 50%;
}
.slider-nav a.active {
  background: #999;
}
.service-articles {
  margin-top: 100px;
  margin-left: -20px;
  zoom: 1;
}
.service-articles:before,
.service-articles:after {
  content: "";
  display: table;
}
.service-articles:after {
  clear: both;
}
.service-articles .service {
  text-align: center;
  width: 223px;
  margin-left: 20px;
  float: left;
  border-top: 8px solid black;
}
.service-articles .service h3 {
  margin-top: -10px;
}
.service-articles .service a {
  color: black;
  text-decoration: none;
}
.service-articles .service p {
  text-align: left;
}
.contact {
  margin-top: 50px;
  border-top: 8px solid black;
  position: relative;
}
.contact h2 {
  text-align: center;
  margin-bottom: 30px;
}
.contact img {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}
.contact .contact-articles {
  margin-top: 195px;
  margin-left: -18px;
  zoom: 1;
}
.contact .contact-articles:before,
.contact .contact-articles:after {
  content: "";
  display: table;
}
.contact .contact-articles:after {
  clear: both;
}
.contact .contact-articles .details {
  width: 308px;
  margin-left: 18px;
  float: left;
}
.contact .contact-articles .details i.icon {
  font-size: 40px;
}
.contact .contact-articles .details p {
  display: inline;
}
.contact .contact-articles .three i {
  margin-right: -14px;
}
.contact .contact-articles .three p {
  margin-left: 20px;
}
.footer {
  margin-top: 50px;
  border-top: 8px solid black;
  text-align: center;
}
