.splash {
  position: absolute;
  text-align: center;
  background: black;

  height: 100%;
  width: 100%;

  .splash-header {
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }

  .splash-outer {
    top: 50%;
    margin-top: -111px;
  }

  h1.coming,
  h2,
  a {
    -webkit-font-smoothing: antialiased;
    font-family: "futura-pt";
    font-weight: 400;
    text-transform: uppercase;
    color: white;
  }

  h1.coming {
    letter-spacing: -1px;
    font-size: 38px;

  }

  h2 {
    letter-spacing: 7px;
    margin-bottom: 25px;
  }

  a {
    font-size: 18px;
    padding: 10px 97px;
    border: 2px solid white;
    .transition(all 0.4s);

    &:hover {
      background: white;
      color: black;
    }
  }
}
