.contact {
	padding: 0;
	margin: 200px 0 0 0;
	text-align: center;

	h1, h2, p {
		text-transform: uppercase;
		font-weight: 300;
		color: black;
	}

	h1 {
		// letter-spacing: 4px;
		font-size: 58px;
		font-family: 'impact_labelregular';
	}

	h2 {
		letter-spacing: 6px;
		font-size: 36px;
	}

	p.phone {
		font-size: 36px;
		letter-spacing: 1.5px;
	}

	p.email {
		font-size: 18px;

	}
}

.contact-image {
	background: url('../img/contact.jpg') no-repeat top left;
	background-size: 100%;
}