* {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  margin: 20px 0;

  nav {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    ul {
      li {
        display: inline;
        margin: 10px;
        font-size: 28px;
        text-transform: capitalize;

        a {
          text-decoration: none;
          color: @primary;

          &:hover {
            border-bottom: 3px solid black;
          }
        }
      }
    }
    img {
      position: absolute;
      left: -121px;
      top: 0px;
    }
  }
}

h1 {
    font-size: 60px;
    font-weight: 400;

    a:hover {
      border-bottom: 5px solid black;
    }
  }

#left-and-right {
  // position: absolute;
  margin: 0 auto;
  // top: 0;
  // left: 50%;
  // margin-left: -450px;
  max-height: 600px;
  width: 65%;
  position: relative;

  .left-side {
    position: absolute;
    top: 250px;
    // height: 100%;
    left: -245px;
    z-index: 100;

    h1 {
      .transform (rotate(270deg));
    }

    img {
    position: absolute;
    top: 260px;
    left: 41%;
    }
  }

  .right-side {
    position: absolute;
    top: 250px;
    right: -233px;
    .transform (rotate(90deg));
    z-index: 10;
  }
}