.services {
  background: url('../img/landing-page-image.jpg') no-repeat center top;
}
.services .service-buttons {
  position: absolute;
  top: 46%;
  left: 50%;
  margin-left: -321px;
}
.services .service-buttons a.service {
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 3px solid #adadad;
  width: 200px;
  margin: 10px;
  font-size: 24px;
}
.services .service-buttons a.service:hover {
  border: 3px solid white;
}
