.services {
	margin: 0 auto;

	.service-polaroids {
		clear: both;
		display: table;
		margin: 13% auto 0;
	}

	.polaroid {
		float: left;
		margin: 0 6px;
	}

	.interior-design {
		.transform (rotate(355deg));
	}

	.sourcing {

	}

	.consulting {
		.transform (rotate(5deg));
	}

	.interior-design,
	.consulting {
		padding-top: 30px;
	}
}
