.story-box {

  a:hover {
    border-bottom: 2px solid black;
  }

  h2, h3 {
    font-family: "futura-pt-condensed";
    text-align: center;
  }

  h2 {
    font-size: 40px;
    margin: 10px 0;
  }

  h3 {
    font-size: 24px;
  }

}

.story-box > div {
  width: 500px;
  // height: 400px;
  position: relative;
  margin: 0 auto;
  padding: 10px 40px 30px;
  background: white;
  overflow: auto;
}

#background {
  padding: 30px 0;
  margin: 0 auto;
  max-height: 600px;
  width: 65%;
  height: 600px;
  position: relative;
}

.story-bg {
    background: url('../img/the-story.jpg') no-repeat top center;
  }