<div class='slider-container portfolio'>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
<!--           <li>
            <img src="img/backup-image.png" />
          </li> -->
          <li>
            <img src="img/portfolio/aidan/1.jpg" />
          </li>
          <li>
            <img src="img/portfolio/aidan/2.jpg" />
          </li>
          <li>
            <img src="img/portfolio/aidan/3.jpg" />
          </li>
          <li>
            <img src="img/portfolio/aidan/4.jpg" />
          </li>
          <li>
            <img src="img/portfolio/aidan/5.jpg" />
          </li>
          <li>
            <img src="img/portfolio/aidan/6.jpg" />
          </li>
          <li>
            <img src="img/portfolio/aidan/7.jpg" />
          </li>
          <li>
            <img src="img/portfolio/aidan/8.jpg" />
          </li>
          <li>
            <img src="img/portfolio/aidan/9.jpg" />
          </li>
        </ul>
      </div>
    </section>
  </div>