<div id='background' class='service-div'>

	<div class='service-segment image'></div>

	<div class='service-segment'>

		<div class='copy'>
			<h2>Consulting</h2>
			<p>If you are feeling a little stuck in a rut with the design of your place, a consultation maybe exactly what you need.</p>

			<p>I can help you out. Be it by simply bouncing around some fresh ideas or choosing paint colours and discussing furniture ideas and placement.</p>

			<p>If you need further help, I can accompany you on shopping trips and be on call throughout the endless decision making process involved in creating a unique and personal home.</p>

			<div class='contact-button'>
				<a href="contact.html">Get in touch</a>
			</div>
		</div>

	</div>
</div>
