<div id='background' class='service-div'>

	<div class='service-segment image'></div>

	<div class='service-segment'>

		<div class='copy'>
			<h2>Consulting</h2>
			<p>I am here to help with anything.</p>

			<p>From a single consultation to bounce some fresh ideas around and set you off in the right direction, be it choosing paint colours or discussing furniture ideas and placement, to accompanying you on shopping trips and being on call throughout the endless decision making process involved in creating a unique and personal home.</p>

			<p>Please get in touch if you would like to hear more.</p>

			<div class='contact-button'>
				<a href="mailto:info@trendandfayre.com">Get in touch</a>
			</div>
		</div>

	</div>
</div>
