<div class='container contact'>
  <h2>Get in touch</h2>
  <img src="img/bio-pic.png">

  <div class='contact-articles'>

    <div class='details one'>
      <i class='icon'>&#128100;</i><p>Kiri Barker</p><br>
      <i class='icon'>&#128222;</i><p>07789937838</p><br>
      <i class='icon'>&#9993;</i><p>hello@trendandfayre.com</p>
    </div>

    <div class='details two'>
      <p>We don't want to write loads here, but providing a short bio that describes what our goals are would be nice. It should be concise and punchy, and make the reader want to buy buy buy!</p>
    </div>

    <div class='details three'>
      <i class='icon'>&#59172;</i><p>31 Lawford Road</p><br>
      <p>London</p><br>
      <p>NW5 2LG</p>
    </div>

  </div>

</div>