<div id='background' class='service-div'>

	<div class='service-segment image'></div>

	<div class='service-segment'>

		<div class='copy'>
    <h2>Get in touch</h2>
    <p>If you have seen anything you like, would like to hire me, or just want a plain old chat, then please feel free to get in in touch.</p>
    <i class='icon'>&#128222;</i>
    <p><span>Phone: </span>07789937838</p>
    <i class='icon'>&#9993;</i>
    <p><span>Email: </span><a href="mailto:hello@trendandfayre.com">hello@trendandfayre.com</a></p>
  </div>
		</div>

	</div>
</div>
