<div class='slider-container portfolio'>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="img/portfolio/G+P/1.jpg" />
          </li>
          <li>
            <img src="img/portfolio/G+P/2.jpg" />
          </li>
          <li>
            <img src="img/portfolio/G+P/3.jpg" />
          </li>
          <li>
            <img src="img/portfolio/G+P/5.jpg" />
          </li>
          <li>
            <img src="img/portfolio/G+P/6.jpg" />
          </li>
        </ul>
      </div>
    </section>
  </div>
