<div class='homepage'>
  <div class='slider-container'>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="img/backup-image.png" />
          </li>
<!--           <li>
            <img src="img/kitchen_adventurer_cheesecake_brownie.jpg" />
          </li>
          <li>
            <img src="img/kitchen_adventurer_lemon.jpg" />
          </li>
          <li>
            <img src="img/kitchen_adventurer_donut.jpg" />
          </li>
          <li>
            <img src="img/kitchen_adventurer_caramel.jpg" />
          </li> -->
        </ul>
      </div>
    </section>
  </div>
</div>