<div class="slider-wrap">
  <div class="slider" id="slider">
    <div class="holder">
      <div class="slide" id="slide-0"><span class="temp">Designed by Kiri Barker.</span></div>
      <div class="slide" id="slide-1"><span class="temp">Designed by Kiri Barker.</span></div>
        <div class="slide" id="slide-2"><span class="temp">Designed by Kiri Barker.</span></div>
    </div>
  </div>
  <nav class="slider-nav">
    <a href="#slide-0" class="active">Slide 0</a> 
    <a href="#slide-1">Slide 1</a> 
    <a href="#slide-2">Slide 2</a> 
  </nav>
</div>

<div class='container'>

  <div class='service-articles'>

    <div class='service one'>
      <i class='icon'>&#127758</i>
      <h3><a href="">Sourcing</a></h3>
      <p>Some placeholder text about sourcing that hopefully isnt too long and going to break...</p>
    </div>

    <div class='service one'>
      <i class='icon'>&#8962</i>
      <h3><a href="">Interior Design</a></h3>
      <p>Some placeholder text about sourcing that hopefully isnt too long and going to break...</p>
    </div>

    <div class='service one'>
      <i class='icon'>&#127912</i>
      <h3><a href="">E-decorating</a></h3>
      <p>Some placeholder text about sourcing that hopefully isnt too long and going to break...</p>
    </div>

    <div class='service one'>
      <i class='icon'>&#59197</i>
      <h3><a href="">Online Shop</a></h3>
      <p>Some placeholder text about sourcing that hopefully isnt too long and going to break...</p>
    </div>

  </div>

</div>