<div class='homepage'>
  <div class='slider-container'>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
<!--           <li>
            <img src="img/backup-image.png" />
          </li> -->
          <li>
            <img src="img/slider-1.jpg" />
          </li>
          <li>
            <img src="img/slider-2.jpg" />
          </li>
          <li>
            <img src="img/slider-3.jpg" />
          </li>
          <li>
            <img src="img/slider-4.jpg" />
          </li>
          <li>
            <img src="img/slider-5.jpg" />
          </li>
          <li>
            <img src="img/slider-6.jpg" />
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>