<div id='background' class='service-div'>
	<div class='service-segment'>
		<div class='copy'>
			<h2>Interior Design</h2>

			<p>I offer a very personal, flexible and most importantly, affordable interior design service.</p>

			<p>I will help you with anything, from selecting new furniture or giving some life to your old pieces by re-upholstering and painting, right the way through to a full re-design and refurbishment of your whole property.</p>

			<p>I hope to help you create inspiring and comfortable spaces that really reflect your lifestyle and personality.</p>

			<div class='contact-button'>
				<a href="contact.html">Get in touch</a>
			</div>
		</div>
	</div>
	<div class='service-segment image interior-design'></div>
</div>