<div id='background' class='service-div'>
	<div class='service-segment'>
		<div class='copy'>
			<h2>Interior Design</h2>
			<p>Trend and Fayre offers a low-key interior design service that is totally flexible to your needs. I love real homes and believe that decorating should be fun – there are no specific rules or formulas to follow.  I hope to help you create inspiring and comfortable spaces that really reflect your lifestyle and personality. You won’t get any matchy matchy, cold hotel vibe here!</p>
			<p>I like to keep this service really personal. I am happy to help you with anything, from a simple consultation to bounce some fresh ideas around, to selecting new furniture or giving some life to your old pieces by re-upholstering and painting, right the way through to a full re-design and refurbishment of your whole property. It’s completely up to you!</p>
			<p>So whatever your needs, Trend and Fayre is here to support, advise and encourage you through every step of your re-design.</p>
			<p>If you are interested in the service, please feel free to get in touch and see how l can help you out.</p>
			<div class='contact-button'>
				<a href="mailto:info@trendandfayre.com">Get in touch</a>
			</div>
		</div>
	</div>
	<div class='service-segment image'></div>
</div>