<div class='slider-container portfolio'>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="img/portfolio/lawford/1.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/2.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/3.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/5.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/6.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/7.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/8.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/9.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/10.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/11.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/12.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/13.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/14.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/15.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/17.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/18.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/19.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/20.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/21.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/22.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/23.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/24.jpg" />
          </li>
          <li>
            <img src="img/portfolio/lawford/25.jpg" />
          </li>
        </ul>
      </div>
    </section>
  </div>