<div class="flexslider banners">
  <ul class="slides">
    <li>
      <img src="img/portfolio/Myrtle/text.jpg" />
    </li>
    <li>
      <img src="img/portfolio/Myrtle/1.jpg" />
    </li>
    <li>
      <img src="img/portfolio/Myrtle/2.jpg" />
    </li>
    <li>
      <img src="img/portfolio/Myrtle/3.jpg" />
    </li>
    <li>
      <img src="img/portfolio/Myrtle/5.jpg" />
    </li>
    <li>
      <img src="img/portfolio/Myrtle/6.jpg" />
    </li>
    <li>
      <img src="img/portfolio/Myrtle/7.jpg" />
    </li>
    <li>
      <img src="img/portfolio/Myrtle/8.jpg" />
    </li>
  </ul>
</div>
