<div class='slider-container portfolio'>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="img/portfolio/myrtle/text.jpg" />
          </li>
          <li>
            <img src="img/portfolio/myrtle/1.jpg" />
          </li>
          <li>
            <img src="img/portfolio/myrtle/2.jpg" />
          </li>
          <li>
            <img src="img/portfolio/myrtle/3.jpg" />
          </li>
          <li>
            <img src="img/portfolio/myrtle/5.jpg" />
          </li>
          <li>
            <img src="img/portfolio/myrtle/6.jpg" />
          </li>
          <li>
            <img src="img/portfolio/myrtle/7.jpg" />
          </li>
          <li>
            <img src="img/portfolio/myrtle/8.jpg" />
          </li>
        </ul>
      </div>
    </section>
  </div>