<!-- <div id='background' class='services'>
	<div class='service-polaroids'>
		<div class='interior-design polaroid'>
			<a href="/sourcing.html"><img src="/img/service-polaroid-sourcing.png"></a>
		</div>
		<div class='sourcing polaroid'>
			<a href="/interior-design.html"><img src="/img/service-polaroids-interior-design.png"></a>
		</div>
		<div class='consulting polaroid'>
			<a href="/consulting.html"><img src="/img/service-polaroids-consulting.png"></a>
		</div>
	</div>
</div> -->

<div id='background'>
	<div class='services'>
		<ul>
			<li class='interior-design'>
				<a href="/sourcing.html">Sourcing</a>
			</li>
			<li class='sourcing'>
				<a href="/interior-design.html">Interior Design</a>
			</li>
			<li class='consulting'>
				<a href="/consulting.html">Consulting</a>
			</li>
		</ul>
	</div>
</div>
