<div class='slider-container portfolio'>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="img/portfolio/set-design/SET-TEXT.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/1.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/2.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/3.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/5.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/6.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/7.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/8.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/9.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/10.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/11.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/12.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/13.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/14.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/15.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/17.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/18.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/19.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/21.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/22.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/23.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/34.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/35.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/36.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/37.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/38.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/39.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/40.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/41.jpg" />
          </li>
          <li>
            <img src="img/portfolio/set-design/42.jpg" />
          </li>
        </ul>
      </div>
    </section>
  </div>