<div id='background' class='service-div'>

	<div class='service-segment image sourcing'></div>

	<div class='service-segment'>

		<div class='copy'>
			<h2>Sourcing</h2>
			<p>Struggling to find the last few bits and pieces? Bored of searching online? Does it all seem out of budget? Or maybe you just don’t have the time.</p>

			<h3>LEAVE IT TO ME...</h3>

			<p>I offer a sourcing service and best of all it’s free.
			Drawing on industry contacts and with regular buying trips all over the country, I know exactly the places to hunt for your perfect piece.</p>

			<p>Let me know what you are after and l’ll get back to you with some options. If you like them, they’re yours at retail price, so no extra cost for using me.</p>

			<p>It’s as simple as that.</p>

			<div class='contact-button'>
				<a href="contact.html">Get in touch</a>
			</div>
		</div>

	</div>
</div>