<div id='background' class='service-div'>

	<div class='service-segment image sourcing'></div>

	<div class='service-segment'>

		<div class='copy'>
			<h2>Sourcing</h2>
			<p>Struggling to find that great lamp, or funky table? Are you are bored of searching the internet for dining chairs? Does it all seem out of budget or do you simply not have the time?</p>

			<h3>Look no further</h3>

			<p>We provide a sourcing service...and best of all, it’s totally free. So sit back and leave it to us. We scour flea markets at the crack of dawn in and out of the uk, travel the country to auction houses and know exactly the places to hunt for your perfect piece.</p>

			<p>Let us know what you are after and any details you would like to add. We will get back to you with some options. If you like them, they’re yours at retail price, so no extra cost for using us at all. On the other hand, if they are not quite your cup of tea, there is absolutely no obligation to keep them.</p>

			<p>It’s as simple as that.</p>

			<div class='contact-button'>
				<a href="mailto:info@trendandfayre.com">Get in touch</a>
			</div>
		</div>

	</div>
</div>