<div class='slider-container portfolio'>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="img/portfolio/stanley/STANLEY.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/1.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/2.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/3.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/5.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/6.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/7.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/8.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/9.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/10.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/11.jpg" />
          </li>
          <li>
            <img src="img/portfolio/stanley/12.jpg" />
          </li>
        </ul>
      </div>
    </section>
  </div>
  