<div id='background' class='story-bg'>

  <div id="the-story" class="story-box">
      <div>
        <h2>The Story</h2>
<!--         <div class='bio-pic'>
          <img src="img/bio-pic.png">
        </div> -->
        <p class='intro'>
          Trend and Fayre is a fully flexible service created by designer Kiri Barker to offer affordable interiors for those lacking in time, inspiration and budget.
        </p>
        <p>
          “I’ve launched Trend and Fayre to help people think outside the box and create unique interiors without having to break the bank. The idea came about after countless friends came to me for advice on how to decorate. l realised that people’s homes often look the same because they simply don’t know where to start, what direction to go in or they panic that their budget wont allow them to buy anywhere but the generic shops and websites and they are afraid to take risks. So despite people’s best efforts to create a home that reflects their own personal style, many end up in uninspiring environments.
        </p>
        <h3>
          This is where I thought I could help...
        </h3>
        <p>
          After years working as a prop stylist and set designer, l know how to create great results from barely existent budgets. By clever sourcing and mixing interesting pieces together in unusual ways, I can help you take a place out of the bland and into the exciting and unexpected, no matter what your budget.
        </p>
      </div>
  </div>

</div>
